@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="text-center">ASP.NET Core Dependecy Injection</h3>
    <br/>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C")</td>
            </tr>
            }
        </tbody>
    </table>
</div>
